ul {
  //padding: 0;
  list-style: none;
  min-width: 800px;
  li {
    list-style: none;

    .list-item {
      display: flex;
      align-items: center;

      h4 {
        margin: 0;
      }

      > * {
        margin: 0 5px;
      }
    }
  }
}
